.env
.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
data/raw/
data/cleaned/
data/dom/
data/screenshots/
data/assets/
data/nextjs/
data/astro/
data/outbound/*.response.json
.next/
node_modules/
.idea/
*.pyc
data/dsl/
data/sections/
data/outbound/
desktop_clicked.html
mobile_test.html
ssr_test.html
cloudflare/outbound-worker/.wrangler/
